/* gif as a background image, and reduce opacity of entire page to highlight background more */
body {
    background-image: url("../images/background.jpg");
    background-position: center; 
    background-repeat: repeat;
    opacity: .9;
}

header {
    font-family: 'Yeon Sung', cursive;
    background-color: rgba(0, 0, 0, 0.8);
}
.container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#crystal-core-text {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 60px;
}

.gem {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 40px;
}

#player-message {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Yeon Sung', cursive;
    font-size: 26px;
    position: relative;
}

.score-card {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Stylish', sans-serif;
    font-size: 30px;
    line-height: 25px;
}

#reset-button {
    font-family: 'Stylish', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
}